@charset "UTF-8";

.main{
  width: 800px;
  margin: 0 auto;
}
.cf{
  clear: both;
}
.prelative{
  position: relative;
}
.pabsolute{
  position: absolute;
}
.updateDesc{
  left: 80px;
}
.text-center{
  text-align: center;
}
.margin-r{
  margin-right: 100px;
}
.group{
  float: left;
  width: 300px;
  line-height: 40px;
}
.group input,.group select{
  line-height: 20px;
}
.partner{
  margin: 0;
}
.partner li{
  line-height: 35px;
}
.desc{
  height: 200px;
  top:10px;
}

.btn{
  color: #fff;
  background-color: #007dd4;
  line-height: 25px;
  padding: 5px 20px;
  border: 0;
  font-size: 14px;
  cursor: pointer;
}

.version-container{
  margin: 0;
  padding:0;
  border: 1px solid #999;
}
.version-container li{
  list-style: none;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #999;
}
.version-header{
  background-color: #ccc;
}
.text-left{
  text-align: left !important;
  padding: 0 5px;
}
.version-container span{
  display: block;
  float: left;
}
.w-10{
  width: 10%;
  cursor: pointer;
}
.w-20{
  width: 20%;
  border-right: 1px solid #999;
  box-sizing: border-box;
}
.w-50{
  width: 50%;
  border-right: 1px solid #999;
  box-sizing: border-box;
  white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}